.Adminloginbtn {
    background-color: hsl(126, 25%, 45%);
    outline: none;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 1% 3%;
  }
  .AdminHomebody{
  }
.AdminHomebodyheading{
    color:  hsl(126, 25%, 45%);
    font-size: 45px;
    font-weight: bolder;
}
.AdminHomebodyheading span{
    color: rgba(30, 30, 30, 1)
}
.AdminHomebodyparagraph{
    color: rgba(30, 30, 30, 1);
    font-size: large;
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.33);

}
.adminsidebar-background-color {
  /* margin-top: 15%; */
  /* background-color: rgba(0, 0, 0, 0.33); */
  border-radius: 15px;
  padding: 12% 0;
  min-height: 100vh;
  color: black !important;
  transition: background-color 0.3s, color 0.3s;
}

.sidebarelements {
  margin-left: 50px;
}

.adminsidebar-link {
  color: black;
  transition: color 0.3s;
}

.adminsidebar-link1 {
  color: black;
  transition: color 0.3s;
}

.adminsidebar-background-color:hover {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  border-radius: 16px;
}

.adminsidebar-background-color:hover .adminsidebar-link {
  color: white;
}
.adminsidebar-link{
  color: white;
}
.adminsidebar-background-color:hover .adminsidebar-link1 {
  color: white;
}

.adminsidebar-logoutbtn {
  color: rgb(0, 0, 0);
  /* background-color: rgba(0, 0, 0, 0.33); */
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 5px;
}

.topimg {
  width: 100%;
}

.adminbg {
  background-image: url("../../Assest/Group\ 2174.png");
}
