.Adminloginbtn {
    background-color: hsl(126, 25%, 45%);
    outline: none;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 1% 3%;
  }
  .AdminHomebody{
  }
.AdminHomebodyheading{
    color:  hsl(126, 25%, 45%);
    font-size: 45px;
    font-weight: bolder;
}
.AdminHomebodyheading span{
    color: rgba(30, 30, 30, 1)
}
.AdminHomebodyparagraph{
    color: rgba(30, 30, 30, 1);
    font-size: large;
    margin-bottom: 5%;
}

.sidebarelements{
  margin-left: 50px;
}
.adminsidebar-link:hover{
  color: white;
}
.adminsidebar-link{
  color: black;
}
.adminsidebar-background-color:hover{
  background-color: black;
  color: white;
  min-height: 100vh;
  width: 100%;
}
.adminsidebar-logoutbtn{
  color: white;
  background-color: rgba(0, 0, 0, 0.33);
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 5px;
}
.adminsidebar-background-color{
  padding-top: 150px;
}
.topimg{
  width: 100%;
}
.adminbg{
  background-image: url("../../Assest/Group\ 2174.png");
}